<!DOCTYPE html>
<html {{ site.language_attributes }}>
    {% block head %}
        {% include 'partials/head.twig' %}
    {% endblock %}
    <link src="style.css">
    <style>
    .contactUs{
        width: 264px;
        height: 68px;
        background: #1E836B;
        text-transform: uppercase;
        color: white;
         font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        border: none;
    }
    .h4{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    *{
        margin: 0;
        padding: 0;

    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 42px;
        background: url('http://localhost/wordpress_sites/wp-content/uploads/2024/08/Frame-6020.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 228px 312px;
    }
    .h2{
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 64px;
        color: white;
        text-align: center;
    }
    .h2_black{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 64px;
        color: black;
    }
    .green{
        color: #1E836B;
    }
    .upper{
        text-transform: uppercase;
    }
    .logo{
    width: 72px;
    height: 67px;
   margin: 0 auto;
    background-repeat: no-repeat;
}
.menu-item a{
     text-transform: uppercase;
     color: black;
     text-decoration-color: black;
     text-decoration: none;
     font-family: "Roboto", sans-serif;
        font-weight: 400;
}
.menu-item:visited{
    color: #1E836B;
}
.menu-item:active {
    color: #1E836B;
}
.menu-item:hover a{
    color: #1E836B !important;
    text-decoration-color:  #1E836B;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 340px;
    gap: 29px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 340px;
    gap: 29px;
}
.section_description{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section_galery{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.readmore{
    color: #1E836B;
    background: transparent;
    border: none;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px #1E836B solid;
    width: 220px;
    padding: 13px 0 18px 1px;
    margin-left: -75px;
    position: relative;
}
.readmore:after{
    content: url('http://localhost/wordpress_sites/wp-content/uploads/2024/08/Mask-group.png');
    position: absolute;
    right: -20px;
    width: 9px;
    height: 9px;
}
.left_column{
    background: url('http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-6.png');
    width: 930px;
    height: 606px;
    position: absolute;
    left: 0;
     z-index: -1;
}
.wrapper{
    overflow-x: hidden;
}
.digits_h3{
    color: #1E836B;
    font-size: 80px;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
}
.projects{
    position: relative;
}
.digits{
    position: relative;
    background: #F6F6F6;
    z-index: -10;
}
.digits__content{
    
}
 .digits_h4{
            font-size: 14px;
            padding-top: 12px;
        }
         .digits_sub{
        color: white;
        background: #1E836B;
        height: 21px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 2px;
       }
       
       .right_column{
       margin-right: -508px;
        margin-top: 40px;
        padding: 40px 50px;
        background: #FFF;
        display: grid;
         grid-template-columns: 285px 285px;
         grid-gap: 35px;
         z-index: 999;
       }
       .view{
        border: none !important;
        margin-left: 60px;
       }
       .big_video{
        position: relative;
       }
       .allProjects{
        position: absolute; top: 1150px; color: #088B49; border: none; border-bottom: 1px solid #088B49; border-top: 1px solid #088B49; background: #FFF;
        font-weight: 400;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        padding: 24px;
        width: 70vw;
        text-transform: uppercase;
       }
       .big_video::before{
        content: url('http://localhost/wordpress_sites/wp-content/uploads/2024/08/Group.png');
        position: absolute;
        left: 45px;
        top: 24px;
       }
       .description{
        position: absolute; 
        bottom: 30px; 
        left: 30px;
        color: white;
        font-weight: 300;
        z-index: 999;
       }
       .little_picture{
         position: relative;
       }
       .parthners{
        background: #F6F6F6;
       }
       .smokey:after{
        content: '';
  position: absolute;
top: 0;
left: 0;
  right: 0;
  bottom: 4px;
  z-index: 1;
  background: rgb(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0, 0.5)), color-stop(30%, rgb(255, 255, 250, 0)));
  background: linear-gradient(0deg, rgb(0, 0, 0, 0.5) 0%, rgb(255, 255, 250, 0) 30%);
       }
       .project_first{
     
       }
  </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>

  
    
    <body class="{{ body_class }}">
        {{ function('wp_body_open') }}
        <a class="skip-link screen-reader-text" href="#content">{{ _e('Skip to content') }}</a>
        <header class="header">
            {% block header %}
                <div class="wrapper">
                    <h1 class="hdr-logo">
                        <a class="hdr-logo-link" href="{{ site.url }}">{{ site.name }}</a>
                    </h1>
                    <nav id="nav-main" class="nav-main">
                        {% include 'partials/menu.twig' with {
                            items: menu.get_items
                            
                        } %}
                        
                    </nav>
                    <!-- #nav -->
                    
                </div>
                
            {% endblock %}
            
        </header>

        <section id="content" class="content-wrapper">
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}
            <div class="wrapper">
                {# {% block content %}
                    Sorry, no content
                {% endblock %} #}
                <section class="hero">
            <h1 class="h2">Широкий спектр архітектурних, землевпорядних, геодезичних і консалтингових послуг</h1>
            <button class="contactUs">
            зв’язатись з нами
            </button>
        </section>
        <section class="about">
            <div class="section_galery">
                <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/IMG_3100-1.png">
                <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-3.png">
        </div>
            <div class="section_description">
            <h2 class="h2_black">Про нас</h2>
                    <p class="h4">Lorem ipsum dolor sit amet consectetur. Tristique fringilla bibendum elit quis placerat mauris. Porttitor amet urna ipsum lectus accumsan nibh urna non ipsum. Porttitor fringilla egestas eu scelerisque a tellus.</p>
                    <p class="h4">Lorem ipsum dolor sit amet consectetur. Tristique fringilla bibendum elit quis placerat mauris. Porttitor amet urna ipsum lectus accumsan nibh urna non ipsum. Porttitor fringilla egestas eu scelerisque a tellus.</p>
                <button class="readmore h4">читати більше</button>
                <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-4.png">
            </div>
        </section>
        
        <section class="digits section">
        <h2 class="h2_black upper">компанія в <span class="green">цифрах</span></h2>
        <div class="digits__content">
        <div class="left_column"></div>
        <div class="right_column">
      
             <div class="column_item column">
                <span class="digits_h3">300+</span>
                <p class="h4 digits_sub">НАСЕЛЕНИХ ПУНКТІВ</p>
                <p class="h4 digits_h4">…де наша компанія виконує розробку містобудівної або землевпорядної документації. Той випадок, коли цифри говорять самі за себе.</p>
            </div>
             <div class="column_item column">
                <span class="digits_h3">100+</span>
                <p class="h4 digits_sub">МІСЦЕВИХ РАД — ЗАМОВНИКІВ</p>
                <p class="h4 digits_h4">Ми працюємо в 45-и районах Київської, Одеської, Миколаївської, Херсонської, Житомирської, Полтавської, Івано-Франківської, Донецької областей.</p>
            </div>
             <div class="column_item column">
                <span class="digits_h3">1000+</span>
                <p class="h4 digits_sub">КМ² ТОПОГРАФІЇ</p>
                <p class="h4 digits_h4">Якість і швидкість — ось основні принципи створення топографічних планів у нашій компанії. Професіоналізм співробітників і першокласне геодезичне обладнання — запорука успіху.</p>
            </div>
             <div class="column_item column">
                <span class="digits_h3">10</span>
                <p class="h4 digits_sub">ВЛАСНИХ БПЛА</p>
                <p class="h4 digits_h4">Ми придбали й успішно застосовуємо в роботі літальні апарати, оснащені високоточними сучасними камерами.</p>
            </div>
           
        </div>
         <button class="readmore h4 view">Дивитись всі</button>
        </div>
        </section>
        <section class="section">
        <h2 class="h2_black upper">Послуги</h2>
        <div>
            <div style="display: flex; gap: 10px;">
            <div class="big_video smokey">
            <img src='http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-7.png'>
            <p class="description h4">КАТ (відео з накладанням креслень)</p>
            </div>
             <div class="big_video smokey">
            <img src='http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle2-7.png'>
            <p class="description h4">КАТ (відео з накладанням креслень)</p>
             </div>
            </div>
            <div style="padding: 10px 10px 10px 0px; display: flex; gap: 10px;">
             <div class="little_picture smokey">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-72.png">
             <p class="description h4">КАТ (відео з накладанням креслень)</p>
             </div>
             <div class="little_picture smokey">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle21-7.png">
             <p class="description h4">КАТ (відео з накладанням креслень)</p>
             </div>
             <div class="little_picture smokey">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle32-7.png">
             <p class="description h4">КАТ (відео з накладанням креслень)</p>
             </div>
             <div class="little_picture smokey">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-47.png">
             <p class="description h4">КАТ (відео з накладанням креслень)</p>
             </div>
            
            {# <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-72.png">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-72.png">
            <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-72.png"> #}
            </div>
        </div>
        </section>
        <section class="section projects">
        <h2 class="h2_black upper">Проекти</h2>
        <div style="height: 950px; display: flex; gap: 10px; flex-shrink:2; overflow-y:hidden;">
        {# <div class="project_first"> #}
            <img style="position: absolute; left:-50px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Снігурівка-5_Генеральний-план.png">
        {# </div> #}
        <img style="position: absolute; left:250px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-12.png">
        <img style="position: absolute; left:460px; top: 250px" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-92.png">
        <img style="position: absolute; left:750px; z-index: -1;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-17.png">
        <img style="position: absolute; left:1000px; top: 300px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-18.png">
        <img style="position: absolute; left:1250px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-13.png">
        <img style="position: absolute; left:1500px; top: 400px" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Космач-4_Генеральний_план_Основне_креслення_Схема_проектних_планувальних-обмежень_Космач.png">
        <img style="position: absolute; left:1650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-20.png">
        
        <img style="position: absolute; left:0px; top:650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Семенівка-4GP.png">
        <img style="position: absolute; left:170px; top:480px; z-index: 999" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-14.png">
        <img style="position: absolute; left:370px; top:650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/34-гп-с.png">
        <img style="position: absolute; left:620px; z-index: -1; top:650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-19.png">
        <img style="position: absolute; left:970px; top:650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-22.png">
        <img style="position: absolute; left:1220px; top:650px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/3-ГП-с.png">
        <img style="position: absolute; left:1530px; top: 650px" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle2-21.png">
        {# <img style="position: absolute; right:0px; top:600px;" src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/Rectangle-20.png"> #}
        </div>
        <button class="allProjects" >Дивитись всі проекти</button>
        </section>
        <section class="section parthners">
        {# <h2 class="h2_black upper">Послуги</h2> #}
        
        <div style="display: flex; gap: 34px;">
        <div>
        <img src="http://localhost/wordpress_sites/wp-content/uploads/2024/08/6-block.png">
        </div>
        <div style="display: flex; flex-direction: column; gap: 15px; justify-content: space-around;">
        <h2 class="h2_black upper" style="width: 400px;">наші <span class="green">Замовники</span></h2>
        <p class="h4" style="width: 400px;">Lorem ipsum dolor sit amet consectetur. Tristique fringilla bibendum elit quis placerat mauris.</p>
        <div style="display: grid; grid-template-columns: 180px 180px 180px;    
         grid-gap: 35px; padding: 50px; background: #FFF;">
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>
        <svg width="133" height="32" viewBox="0 0 133 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.6193 0C89.6164 0.00228311 88.6718 0.639269 88.285 1.68493L78.4355 28.3882C77.934 29.7511 78.5717 31.2878 79.8619 31.8196C80.1623 31.9429 80.4694 32 80.7719 32C81.7748 32 82.7238 31.3584 83.1084 30.3129L84.7662 25.8196H96.5243L98.1843 30.3129C98.5668 31.3584 99.5158 32 100.521 32C100.821 32 101.13 31.9429 101.431 31.8196C102.721 31.2878 103.361 29.7511 102.855 28.3882L93.0056 1.68493C92.625 0.648402 91.6936 0.0136986 90.6993 0H90.6193ZM90.6452 9.88129L94.5682 20.5206H86.7223L90.6452 9.88129ZM0.010685 11.1849C0.00420075 11.274 -0.00012207 11.3607 -0.00012207 11.452V29.2282C-0.00012207 30.694 1.12165 31.8789 2.50712 31.8789C3.89475 31.8789 5.01652 30.694 5.01652 29.2282V21.0046C6.75429 22.1826 8.82926 22.8676 11.0598 22.8676C17.1507 22.8676 22.1089 17.7489 22.1089 11.452C22.1089 5.15524 17.1507 0.0342464 11.0598 0.0342464C5.04894 0.0342464 0.151177 5.01142 0.010685 11.1849ZM5.023 11.452C5.023 8.07762 7.72908 5.33562 11.0598 5.33562C14.3862 5.33562 17.0923 8.07762 17.0923 11.452C17.0923 14.8265 14.3862 17.5685 11.0598 17.5685C7.72908 17.5685 5.023 14.8265 5.023 11.452ZM26.2372 2.64611C26.2372 4.10731 27.3784 5.27853 28.7619 5.27853C30.1473 5.27853 31.2538 4.10731 31.2538 2.64611C31.2538 1.22146 30.1473 0.0525113 28.7619 0.0525113C27.3784 0.0525113 26.2372 1.22146 26.2372 2.64611ZM121.64 2.71689V22.58C121.64 27.7078 125.587 31.8789 130.441 31.8789C131.824 31.8789 132.948 30.694 132.948 29.2282C132.948 27.7649 131.824 26.58 130.441 26.58C128.353 26.58 126.657 24.7853 126.657 22.58V13.7671H130.441C131.824 13.7671 132.948 12.5822 132.948 11.1164C132.948 9.65298 131.824 8.46805 130.441 8.46805H126.657V2.71689C126.657 1.25342 125.533 0.0684931 124.147 0.0684931C122.764 0.0684931 121.64 1.25342 121.64 2.71689ZM111.194 9.7694C110.757 8.99316 109.958 8.46805 109.037 8.46805C107.653 8.46805 106.529 9.65298 106.529 11.1164V29.3356C106.529 30.7969 107.653 31.984 109.037 31.984C110.422 31.984 111.548 30.7969 111.548 29.3356V18.0822C111.548 15.7032 113.496 13.7671 115.891 13.7671C117.272 13.7671 118.398 12.5822 118.398 11.1164C118.398 9.65298 117.272 8.46805 115.891 8.46805C114.179 8.46805 112.575 8.94293 111.194 9.7694ZM60.8739 10.7854C59.6269 12.0457 58.9114 13.742 58.9114 15.4452C58.9114 21.0274 64.6088 22.3653 66.4806 22.806C70.1204 23.6598 70.1204 24.5936 70.1204 24.9953C70.1204 25.194 70.0146 25.5182 69.7077 25.8264C69.1695 26.3744 68.2659 26.6484 67.1399 26.5958C66.1456 26.548 64.8812 26.2809 63.0483 24.6324C61.9914 23.6827 60.4093 23.8129 59.5123 24.9293C58.6131 26.0411 58.7384 27.7122 59.7932 28.662C62.1081 30.7489 64.3755 31.774 66.9237 31.8882C67.0815 31.8949 67.2372 31.8996 67.3928 31.8996C69.6968 31.8996 71.735 31.1118 73.1745 29.6529C74.4217 28.3927 75.1372 26.694 75.1372 24.9953C75.1372 19.411 69.4417 18.0731 67.5701 17.6324C63.928 16.7785 63.928 15.8425 63.928 15.4452C63.928 15.2443 64.0362 14.9201 64.343 14.6073C64.8834 14.0639 65.7934 13.8059 66.9109 13.8425C67.9049 13.8881 69.1695 14.1552 71.0046 15.8082C72.057 16.7557 73.6393 16.6233 74.5385 15.5091C75.4355 14.3973 75.3121 12.726 74.2597 11.7763C71.9426 9.68949 69.6752 8.66667 67.1247 8.55022C66.9647 8.54338 66.8069 8.53882 66.6491 8.53882C64.3561 8.53882 62.3112 9.33104 60.8739 10.7854ZM38.5789 11.968C38.566 11.9794 38.5594 11.9909 38.5509 12C34.282 16.5434 34.282 23.8996 38.5487 28.4451C38.5594 28.4544 38.566 28.468 38.5789 28.4771C40.7338 30.7533 43.5653 31.8882 46.3925 31.8882C49.224 31.8882 52.051 30.7533 54.2059 28.4771C55.1851 27.4451 55.1851 25.7649 54.2059 24.7329C53.2268 23.6964 51.6383 23.6987 50.6613 24.7307C48.3075 27.2169 44.4775 27.2169 42.1258 24.7307C42.1237 24.726 42.1173 24.7238 42.1151 24.7191C39.7763 22.2351 39.7763 18.2078 42.1151 15.726C42.1173 15.7215 42.1237 15.7192 42.1258 15.7169C44.4775 13.2306 48.3075 13.2306 50.6613 15.7169C51.1497 16.2306 51.7916 16.4932 52.4335 16.4932C53.0757 16.4932 53.7176 16.2306 54.2059 15.7146C55.1851 14.6804 55.1851 13.0046 54.2059 11.968C52.0531 9.69407 49.2216 8.5548 46.3925 8.5548C43.561 8.5548 40.7317 9.69407 38.5789 11.968ZM26.2351 11.2534V29.2282C26.2351 30.694 27.3613 31.8789 28.7446 31.8789C30.1299 31.8789 31.2538 30.694 31.2538 29.2282V11.2534C31.2538 9.78996 30.1299 8.60502 28.7446 8.60502C27.3613 8.60502 26.2351 9.78996 26.2351 11.2534Z" fill="black" fill-opacity="0.25"/>
</svg>

        </div>
        </div>
        </div>
        
        </section>

            </div>
        </section>
        
        {% block footer %}
            {% include 'partials/footer.twig' %}
        {% endblock %}
        {{ function('wp_footer') }}
        {% do action('get_footer') %}
    </body>
</html>
